* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page base */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    line-height: 1.6;
}

/* Intro card */
.container {
    background-color: white;
    padding: 30px;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 350px;

    /* center ONLY this card */
    margin: 40px auto;
}

/* Button */
.btn {
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}

/* Headings */
h1 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #222;
}

h2 {
    color: #333;
}

/* Text */
p, li {
    font-size: 16px;
    color: #555;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
}

/* Main */
main {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
}

/* Sections */
section {
    margin-bottom: 20px;
}

/* Form */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
input:focus, textarea:focus {
    outline: none;
    border-color: #007bff;
}


input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Footer */
footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 20px;
}


.layout {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.left, .right {
    background-color: white;
    padding: 20px;
    flex: 1;
    border-radius: 8px;
}

/* Responsive (mobile friendly) */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }
}
